<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestMapper">

    <!-- 단일 조회 -->
    <select id="findById" parameterType="long" resultType="com.example.demo.model.Test">
        SELECT test_id AS testId, first_name AS firstName, last_name AS lastName
        FROM test
        WHERE test_id = #{id}
    </select>

    <!-- 전체 조회 -->
    <select id="findAll" resultType="com.example.demo.model.Test">
        SELECT 
            test_id AS testId, 
            first_name AS firstName, 
            last_name AS lastName
        FROM test
    </select>

    <!-- 생성 -->
    <insert id="insert" parameterType="com.example.demo.model.Test" useGeneratedKeys="true" keyProperty="testId">
        INSERT INTO test (first_name, last_name)
        VALUES (#{firstName}, #{lastName})
    </insert>

    <!-- 수정 -->
    <update id="update" parameterType="com.example.demo.model.Test">
        UPDATE test
        SET first_name = #{firstName}, last_name = #{lastName}
        WHERE test_id = #{testId}
    </update>

    <!-- 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM test WHERE test_id = #{id}
    </delete>

</mapper>
